<section class="about-area pb-60 pt-100 bg-bottom-cover" style="background-image:url(assets/img/home/about-section-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40" style="padding-top: 2.5em;">
                <div class="section-title">
                    <h2>The Scientific Group Advantage</h2>
                </div>
                <div class="about-content">
                      <p class="text-left">Discover the depth of the fastest growing group of companies nationally to solve problems for all commercial properties’ maintenance services.  The collaboration of these companies and thorough understanding of maintenance and building systems is a major advantage to our clients. Think of them as a portfolio of solutions that can tackle any challenge. Each company operates independently but works collaboratively to deliver the best service to clients without compromise.</p>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-xl-6 text-center mb-40">
              <img src="assets/img/logo/logo-black.png" style="max-height:200px;">
            </div>
            <div class="col-xl-6 text-center mb-40">
              <img src="assets/img/logo-grid.png" style="max-height:300px;">
            </div>
        </div>
        
    </div>
</section>
<section style="background:#000">
    <div class="container" style="padding:5em 0;">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1057574602?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="41251-the_scientific_group-alt_version-60s-1080p-16x9-7489308242-v2"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <!-- <div class="mb-40" style="height:480px"></div> -->
    </div>
</section>
<section>
    <div class="container">
       
        <div class="row mt-40">
            <div class="col-xl-12 text-center mb-40">
                <img src="assets/img/home/inc-logo.png" style="max-height:300px;">
            </div>
            <div class="col-xl-6 text-l-center mb-40">
                <h3><span>#406</span> of Inc. 5000<span> Fastest Growing Private Companies in Amerca</span></h3>
                <br>
                <h3><span>#53</span> of Inc. Regionals Northeast 2024 <span>Fastest Growing Companies</span></h2>
            </div>
            <div class="col-xl-6 text-l-center mb-40">
              <p>We are honored to be awarded and ranked 406 on the Inc. 5000 list of the fastest-growing private companies in America. This prestigious ranking provides a data-driven look at the most successful companies within the economy's most dynamic segment—its independent, entrepreneurial businesses. </p>
                <a href="https://www.inc.com/profile/the-scientific-group">Read More</a>
            </div>
        </div>
    </div>
</section>
