<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title">
                    <h2>The Scientific Group Advantage</h2>
                </div>
                <div class="about-content">
                      <p>Discover the depth of our group of companies to solve problems for all building maintenance services. The collaboration of these companies and thorough understanding of maintenance systems is a major advantage to our customers.Think of them as a portfolio of solutions that can tackle any challenge. Each company operates independently but works collaboratively to deliver the best service to customers without compromise.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
              <img src="assets/img/home/about-section-bg.jpg"></img>
            </div>
        </div>
    </div>
</section>
