<section class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>Let's talk solutions.</h3>
                    <div class="call-to-action">
                        <a href="/contact-us" class="btn black-cta-btn">connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- style="background-image:url({{site.baseurl}}assets/img/bg/cta1.jpg); -->
