<div class="clients-area pt-50 pb-50">
    <div class="container">
      <div class="row text-center">
        <div class="col-xl-12 text-center mb-40">
        <div class="section-title">
            <h2>Certifications</h2>
        </div>
        </div>
      </div>
        <div class="row">

            <div class="clients-active owl-carousel">
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}assets/img/certifications/IIcrc.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}assets/img/certifications/iKeca.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}assets/img/certifications/iqua.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}assets/img/certifications/Nadna.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}assets/img/certifications/Nfpa.png" alt="">
                    </div>
                </div>
                <!-- <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}assets/img/certifications/SpringAir.png" alt="">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
