<nav id="mobile-menu">
<ul>
  <li>
     <a href="approach">Approach</a>
  </li>
  <li>
    <a href="companies">Companies</a>
      <ul class="sub-menu">

        <li><a href="{{site.baseurl}}scientific-construction">Scientific Construction</a></li>

        <li><a href="{{site.baseurl}}scientific-environmental">Scientific Environmental</a></li>

        <li><a href="{{site.baseurl}}scientific-fire-prevention">Scientific Fire Prevention</a></li>

        <li><a href="{{site.baseurl}}allied-fire-control">Allied Fire Control</a></li>

        <li><a href="{{site.baseurl}}scientific-maintenance">Scientific Maintenance</a></li>

        <li><a href="{{site.baseurl}}scientific-mechanical">Scientific Mechanical</a></li>

        <li><a href="{{site.baseurl}}scientific-pest-management">Scientific Pest Management</a></li>

        <li><a href="{{site.baseurl}}scientific-technology">Scientific Technology</a></li>

        <li><a href="{{site.baseurl}}scientific-restoration">Scientific Restoration</a></li>

        <li><a href="{{site.baseurl}}airways-cleaning-and-fire">Airways Cleaning & Fire</a></li>

        <li><a href="{{site.baseurl}}scientific-integrated-culinary-management">Scientific Integrated Culinary Management</a></li>


      </ul>
  </li>
  <li>
    <a href="regional-offices">Regional Offices</a>
  </li>
  <li>
    <a href="contact">Contact</a>
  </li>

    <!-- {% for link in site.data.navigation %}
    {% assign active = nil %}

    {% for sublink in link.submenu %}
        {% if page.url contains sublink.url %}
            {% assign active = 'active' %}
        {% endif %}
    {% endfor %}

    {% if page.url contains link.url %}
        {% assign active = 'active' %}
    {% endif %}

     <li>
        <a href="{{link.url}}">{{link.text}}{% if link.submenu %}<i class="icofont-simple-down"></i>{% endif %}</a>
        {% if link.submenu %}
        <ul class="sub-menu">
            {% for sublink in link.submenu %}
            <li><a href="{{sublink.url}}">{{sublink.text}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %} -->
</ul>
</nav>
